html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    background: rgba(242,242,242,1);
    background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(186,186,186,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,242,242,1)), color-stop(100%, rgba(186,186,186,1)));
    background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(186,186,186,1) 100%);
    background: -o-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(186,186,186,1) 100%);
    background: -ms-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(186,186,186,1) 100%);
    background: linear-gradient(to right, rgba(242,242,242,1) 0%, rgba(186,186,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#bababa', GradientType=1 );
}
body {   


  
}
.container {
    margin: 100px auto;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    background: url("img/pluto-page-not-found.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(86, 89, 122);
    -webkit-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    -moz-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
}
.header {
    position: absolute;
    top: 180px;
    left: 295px;
}
p {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}
.large {
    font-size: 75px;
    margin-top: 0;
}
.countdown-box {
    
}